.body{
    display: flex;
    min-width: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(6, 177, 29);
    user-select: none;
    transition: 0.5s ease;
}

a{
    text-decoration: none;
    color: inherit;
}

.boton_play{
    min-width: 70px;
    min-height: 70px;
    height: 8vw;
    width: 8vw;
    display: flex;
    background-color: rgb(214, 214, 214, 0.5);
    border: solid black 5px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
    cursor: pointer;
    transition: 0.5s ease;
}
.boton_play:hover{
    box-shadow: 0 0 30px 2px #ffffff;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    background: rgba(255, 255, 255, 0.5);
    height: 0.2rem;
    border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #effdff;
    height: 1.5rem;
    width: 0.5rem;    
}

.control_volumen{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 60%;
    transform: translate(-55%, -66%);
    rotate: -90deg;
    width: 15vh;
    min-width: 100px;
    cursor: pointer;
    background: red;
}

.img_audio{
    position: absolute;
    left: 63%;
    top: 55%;
    height: 1.5rem;
}


.icono_play{
    height: 60%;
}

.divSelector{
    min-width: 160px;
    min-height: 55px;
    width: 15vw;
    height: 5vw;
    background-color: rgb(214, 214, 214, 0.5);
    box-shadow: 0 0 30px 3px #ffffff;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -60%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.divSelector:hover{
    box-shadow: 0 0 50px 5px #ffffff;
}

.flechaSelectorIzq{
    position: absolute;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
}
.flechaSelectorIzq:hover{
    height: 2.5rem;
    width: 2.5rem;
    left: 0.7rem;
}

.flechaSelectorDr{
    position: absolute;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
}
.flechaSelectorDr:hover{
    height: 2.5rem;
    width: 2.5rem;
    right: 0.7rem;
}

.img_selector{
    height: 70%;
    transition: 0.3s ease;
}




.lluvia::before{
    content: "Lluvia";
    font-size: 1.5rem;
}
.fuego::before{
    content: "Fuego";
    font-size: 1.5rem;
}
.bosque::before{
    content: "Bosque";
    font-size: 1.5rem;
}
.olas::before{
    content: "Olas";
    font-size: 1.5rem;
}



/* EFECTO LLUVIA */


i{
    position: absolute;
	height: 10px;
	background: linear-gradient(transparent, #fff);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	animation: raining 5s linear Infinite;
}


@keyframes raining{
    0%{
        transform: translateY(0px)
    }

	100%{
        transform: translateY(95vh);
    }
}
